<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a new record</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <br>
    <div class="container">
      <div class="col-5">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="record" name="record" placeholder="A record">
            <small class="form-text text-muted">For example, <b>sample</b>.vey.cool</small>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="address" name="address" placeholder="IPv4 address">
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>
